# for develop
# get NPM_TOKEN token value from https://bitbucket.org/welearngmbh/welearn-web/admin/addon/admin/pipelines/repository-variables
# replace the variable, do not commit this

//registry.npmjs.org/:_authToken=${NPM_TOKEN}
registry=https://registry.npmjs.org/
