{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": false,
    "printWidth": 80,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-organize-imports"]
}
