:root {
    --font-headline: 'Outfit', sans-serif;
    --font-stack: 'Open Sans', system-ui, sans-serif;

    /* colors */
    --color-brand-primary: #e4831e;
    --color-brand-primaryHover: #f89a36;
    --color-brand-secondary: #ff564e;
    --color-brand-light: #f7dabc;

    --color-brand-gradient: linear-gradient(20deg, #e4831e 30%, #ff564e 100%);

    --color-neutral-white: #ffffff;
    --color-neutral-pearl: #f7f7f7;
    --color-neutral-sand: #ededed;
    --color-neutral-silver: #cccccc;
    --color-neutral-dust: #808080;
    --color-neutral-night: #1d1e1f;
    --color-neutral-mist: #fcfcfc;

    --color-additional-blush: #ff6a9a;
    --color-additional-fire: #d3593d;
    --color-additional-rose: #d90063;

    /* z index */
    --zIndex-popup: 700;
    --zIndex-snackbar: 600;
    --zIndex-modal: 500;
    --zIndex-default: 100;

    /* dimensions */
    --width-page: 1460px;

    /* spinner */
    --radius: 45;
    --PI: 3.14159265358979;
    --circumference: calc(var(--PI) * var(--radius) * 2px);
}
